Repository front-end-by-rimantas/31-grupe-portfolio-personal, pull requests merged in 2021-11, with the labels that each got.

#19 reset.css
  css/base/reset.css
Labels: CSS

#22 Achievements-section
  css/components/achievements.css
  css/home.css
  index.html
Labels: CSS, HTML

#26 Fixed title, added meta tags
  index.html
Labels: HTML

#18 Base components
  css/base/base.css
  index.html
Labels: CSS

#15 poppins font family
  css/base/base.css
  css/base/fonts.css
  css/home.css
  fonts/Poppins-Black.ttf
  fonts/Poppins-BlackItalic.ttf
  fonts/Poppins-Bold.ttf
  fonts/Poppins-BoldItalic.ttf
  fonts/Poppins-ExtraBold.ttf
  fonts/Poppins-ExtraBoldItalic.ttf
  fonts/Poppins-ExtraLight.ttf
  fonts/Poppins-ExtraLightItalic.ttf
  fonts/Poppins-Italic.ttf
  fonts/Poppins-Light.ttf
  fonts/Poppins-LightItalic.ttf
  fonts/Poppins-Medium.ttf
  fonts/Poppins-MediumItalic.ttf
  fonts/Poppins-Regular.ttf
  fonts/Poppins-SemiBold.ttf
  fonts/Poppins-SemiBoldItalic.ttf
  fonts/Poppins-Thin.ttf
  fonts/Poppins-ThinItalic.ttf
Labels: CSS

#21 Header html/css mobile
  assets/logo.png
  css/components/header.css
  index.html
Labels: CSS, HTML

#27 about-me html and css
  assets/images/about-img.png
  css/home.css
  index.html
Labels: CSS, HTML

#28 Features in description
  README.md
  android-chrome-192x192.png
  android-chrome-256x256.png
  apple-touch-icon.png
  assets/images/about-img.png
  assets/logo.png
  browserconfig.xml
  css/base/base.css
  css/base/fonts.css
  css/base/reset.css
  css/components/achievements.css
  css/components/header.css
  css/home.css
  favicon-16x16.png
  favicon-32x32.png
  favicon.ico
  fonts/Poppins-Black.ttf
  fonts/Poppins-BlackItalic.ttf
  fonts/Poppins-Bold.ttf
  fonts/Poppins-BoldItalic.ttf
  fonts/Poppins-ExtraBold.ttf
  fonts/Poppins-ExtraBoldItalic.ttf
  fonts/Poppins-ExtraLight.ttf
  fonts/Poppins-ExtraLightItalic.ttf
  fonts/Poppins-Italic.ttf
  fonts/Poppins-Light.ttf
  fonts/Poppins-LightItalic.ttf
  fonts/Poppins-Medium.ttf
  fonts/Poppins-MediumItalic.ttf
  fonts/Poppins-Regular.ttf
  fonts/Poppins-SemiBold.ttf
  fonts/Poppins-SemiBoldItalic.ttf
  fonts/Poppins-Thin.ttf
  fonts/Poppins-ThinItalic.ttf
  index.html
  mstile-150x150.png
  safari-pinned-tab.svg
  site.webmanifest
Labels: CSS, HTML

#33 this-is-me-component-html-css
  assets/images/this-is-me.png
  css/home.css
  index.html
Labels: CSS, HTML

#32 services component html and csss
  css/home.css
  index.html
Labels: CSS, HTML

#35 Section single plan
  css/home.css
  index.html
Labels: CSS, HTML

#36 clients feedback component html css
  assets/images/client-feedback-1.png
  assets/images/client-feedback-2.png
  css/home.css
  index.html
Labels: CSS, HTML

#42 pretty code
  css/base/base.css
  css/base/fonts.css
  css/base/reset.css
  css/components/achievements.css
  css/components/header.css
  css/home.css
  index.html
Labels: CSS, HTML

#45 footer section static mobile
  css/home.css
  index.html
Labels: CSS, HTML

#51 single blog post
  assets/images/Mark-Wiens.png
  assets/images/blog-post-1.png
  css/home.css
  index.html
  package-lock.json
Labels: CSS, HTML

#62 Footer desktop static
  css/home.css
  index.html
Labels: CSS, HTML

#66 services js'ed
  index.html
  js/components/is-valid/IsValid.js
  js/components/services/Services.js
  js/data/servicesData.js
  js/home.js
Labels: JS

#68 blog-post
  index.html
Labels: CSS, HTML

#69 Header mobile menu
  css/components/header.css
  index.html
  js/components/header/header.js
Labels: CSS, HTML, JS

#72 blog posts fix
  assets/images/blog-post-2.png
  assets/images/blog-post-3.png
  css/home.css
Labels: CSS, HTML
